@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* css */
.App {
  text-align: center;
}
.beforeName{
  color: #AA3378;
  font-family: 'Roboto Mono', monospace;
}
.saraName {
  font-family: 'Ibarra Real Nova', serif;
  color: #DF96D0;
  font-size: 300%;
}
.afterName{
  color: #FFDDF8;
  font-family: 'Roboto', sans-serif;
}
.App-header {
  background-color: #200010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
